In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
os.chdir("C:\\Users\\ahmed\\Desktop")
df_original = pd.read_pickle('df_activities_dublin_2016.pkl')
#df = df_original[df_original.totaldistance < 1000*(10+2)]
#df = df[df.totaldistance > 1000*(10-2)]
#df = df[df.country_code == 'is']
df_original

,hashedathleteid,startdate,startdatelocal,totaldistance,elevgain,hashedid,startlatapprox,startlngapprox,partitionid,time_final,...,heartrate,temperature,pace_diff,pace_cumul,gap,cumulative_elev_gain,cumulative_elev_loss,year,sex,weight
0,27f510195a08423b00bb2bc407747dd4aa3b46082f9e90...,2016-08-08 18:41:25,2016-08-08 19:41:25,1826.9,0.00,749d2b269795ac7fdca2ebc1789aeca64996d400d7d348...,52.84,-6.92,2261,NaN,...,[],[],"[0.0, 5.57067784310052, 3.46345084608983, 4.16...","[25.0, 7.41036604501394, 6.40038814319141, 5.5...","[0.0, 5.50806345346356, 3.51929561667581, 4.38...",7.0,11.0,1973.0,M,74
1,27f510195a08423b00bb2bc407747dd4aa3b46082f9e90...,2016-10-12 19:25:22,2016-10-12 20:25:22,1522.7,0.00,ad78674268e13c5a74f5be10d7fcb0bc5b96720c134cb8...,52.84,-6.92,2818,NaN,...,[],[],"[0.0, 4.55734054973754, 4.1495062025422, 3.764...","[25.0, 4.81237184752064, 4.49117399775104, 4.2...","[0.0, 4.45172209314814, 4.44863216687151, 3.78...",7.0,8.0,1973.0,M,74
2,27f510195a08423b00bb2bc407747dd4aa3b46082f9e90...,2016-09-11 10:33:25,2016-09-11 11:33:25,1163.9,0.00,99019615b2db72da61e779248184e71a37028b95386e4e...,52.87,-6.86,51,NaN,...,[],[],"[0.0, 6.04598841853532, 6.01849454453711, 6.06...","[25.0, 6.49233441711015, 6.25928076622876, 6.0...","[0.0, 5.51379519675492, 6.20094729934718, 5.81...",6.0,5.0,1973.0,M,74
3,18a90bb1bc980b17a91ff1d17c0763a77572181959acb7...,2016-08-08 18:44:24,2016-08-08 19:44:24,8759.7,47.00,a1fd0f76d9e109c7cf9e0dcb6b618595d98a51ec6593d9...,53.42,-6.23,2262,NaN,...,[],[],"[0.0, 5.15145990538387, 5.67860484098776, 5.80...","[25.0, 4.67139410325811, 5.16922832267112, 5.3...","[0.0, 5.8902502512488, 5.4331637018403, 4.9090...",48.0,38.0,1985.0,M,68
4,18a90bb1bc980b17a91ff1d17c0763a77572181959acb7...,2016-10-21 10:28:25,2016-10-21 11:28:25,9060.1,113.00,7197c7470fbcea27cac470d3a0e586ac406fcebd26b842...,54.07,-6.38,3972,NaN,...,"[57.0, 56.9339718231654, 74.0, 130.0, 142.1728...",[],"[0.0, 1.2800809411565, 2.50722493262599, 5.843...","[25.0, 1.64418777551541, 2.00347974705844, 2.7...","[0.0, 3.11776514258707, 1.32672617225134, 4.75...",37.0,53.0,1985.0,M,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102843,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-11-21 18:31:45,2016-11-21 18:31:45,5039.9,0.00,da13500d2088c615cd5ad0b19e9d0936c3fc51abc32ef4...,54.01,-6.38,1561,NaN,...,[],[],"[0.0, 3.65080571929456, 5.27952307405511, 4.32...","[25.0, 4.10307576399511, 4.16147460316753, 4.2...","[0.0, 3.4017588111579, 5.27952307405511, 4.282...",24.0,24.0,1977.0,M,0
102844,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-09-21 19:38:14,2016-09-21 20:38:14,6079.6,40.04,024429aa1a8d39593ee39fb493d32f2a74c47b7cde1ec0...,54.01,-6.41,1655,NaN,...,[],[],"[0.0, 3.8252333735362, 4.00903622198699, 4.502...","[25.0, 4.29901170298457, 4.30240545444174, 4.3...","[0.0, 3.87588697421383, 3.99902925838916, 4.45...",30.0,30.0,1977.0,M,0
102845,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-08-15 18:24:19,2016-08-15 19:24:19,11063.3,10.46,8a081e55c47cc436c0e5dd7b64d306b79caad9a9f57698...,53.99,-6.39,861,NaN,...,[],[],"[0.0, 7.15227482349973, 5.29217894069429, 5.22...","[25.0, 6.5267792737753, 6.12917075685545, 5.92...","[0.0, 6.97548943722043, 4.84158922259597, 4.80...",57.0,52.0,1977.0,M,0
102846,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-11-18 09:41:18,2016-11-18 09:41:18,6686.2,0.00,ba3cea2ab4c0e4a0c658d076fe63ebe59a1c3c0351c594...,53.93,-6.46,53,NaN,...,[],[],"[0.0, 4.84374239122173, 5.30045001575982, 5.00...","[25.0, 4.51471975495617, 4.80278396908467, 4.7...","[0.0, 5.21057324942786, 5.78916863931682, 4.93...",34.0,32.0,1977.0,M,0
102847,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-08-25 19:24:17,2016-08-25 20:24:17,10016.4,35.70,6cd3fc44a62bddc1e7edba95e2d5a4617c2a8b9cc137ee...,53.96,-6.38,1939,NaN,...,[],[],"[0.0, 5.09847548987208, 6.51714733515286, 5.32...","[25.0, 5.99188165829352, 5.8029799538043, 5.90...","[0.0, 4.84704963543505, 6.43102717501653, 6.18...",53.0,46.0,1977.0,M,0

In [3]:
import datetime
#df_original.drop(['elevgain', 'startdate', 'weight', 'sex', 'year', 'cumulative_elev_loss', 'cumulative_elev_gain', 'heartrate', 'partitionid'], axis = 1)
#Take the needed columns
new = df_original[['hashedathleteid', 'startdatelocal', 'totaldistance', 'time_final', 'pace_diff', 'pace_cumul']].copy()
#Get rid of false distances
new = new[new.totaldistance > 50]
new = new[new.totaldistance < 50000]
#Get rid of activities after the marathon date
x = datetime.datetime(2016, 11, 1)
new = new[new.startdatelocal < x]
new.sort_values(by=['startdatelocal'], inplace=True)
new = new.reset_index(drop=True)
new

,hashedathleteid,startdatelocal,totaldistance,time_final,pace_diff,pace_cumul
0,95677d84985ba9b57af15ba6fb343b481ada0d763667f7...,2016-07-30 09:00:45,1619.1,NaN,"[0.0, 10.3169659004383, 10.6190567781152, 11.4...","[25.0, 10.6567734982354, 10.528614260157, 10.4..."
1,2a6e4f6d45004a1eb86ed3429a1d454b7f42dea00c7160...,2016-07-30 09:01:30,8083.4,NaN,"[0.0, 5.79009107633454, 5.73073071960409, 6.55...","[25.0, 6.11933771164674, 5.73416775589949, 5.8..."
2,17dabbcf65d565fe4630fd298a2a06e130e5f24b49afb7...,2016-07-30 09:01:49,25055.6,NaN,"[0.0, 5.4484125669084, 5.04852901485874, 5.500...","[25.0, 5.42977967921349, 5.41131794574438, 5.4..."
3,9b9f3a3370d9189376b02cb39fbb542f4d1b59db4f9c86...,2016-07-30 09:01:59,4841.8,NaN,"[0.0, 7.54458251960452, 5.8741801258094, 6.426...","[25.0, 7.74597333418333, 6.73914419713155, 6.7..."
4,c40943a9a2aa5f49194d1368d28eed50ded43f6d567c64...,2016-07-30 09:02:00,26748.9,NaN,"[0.0, 5.82797385860512, 5.25262537318066, 5.85...","[25.0, 6.52248670842678, 6.07538033335372, 5.9..."
...,...,...,...,...,...,...
86070,cdc551b3cdc7c7356e4d229cb79ed3c667f390a141f079...,2016-10-31 18:40:48,6645.9,NaN,"[0.0, 6.52939360701984, 5.98680159678725, 6.45...","[25.0, 7.19752474742447, 6.96519310620352, 6.7..."
86071,dd25bdc1767ba0d49aa053d49ec4841a34b783768d2b70...,2016-10-31 18:44:02,5089.8,NaN,"[0.0, 8.12645609813947, 6.55519951742041, 6.21...","[25.0, 25.0, 19.5941887596533, 15.104212762808..."
86072,fe4054672c0f8cab4533fb9dc5e1e3d9f7003178e9bd6e...,2016-10-31 18:44:05,9854.6,NaN,"[0.0, 5.48043844091235, 5.73180422399826, 5.63...","[25.0, 5.43730641872743, 5.49974717246962, 5.7..."
86073,60bb1d839cf0ff15b6fe581f50043c776a428b8c3122e0...,2016-10-31 18:48:39,7360.8,NaN,"[0.0, 6.77072839704103, 6.06951658105542, 6.41...","[25.0, 6.35856269427718, 6.41950589893724, 6.4..."
86074,f2baa729e3dbe6a816546e96dfe4e9a8e5cd8404864b93...,2016-10-31 19:05:40,4605.0,NaN,"[0.0, 7.76449753509852, 5.99448673945089, 6.35...","[25.0, 7.98239939297761, 7.28072793540768, 6.8..."

In [4]:
new.to_pickle("./valid_2016_activities.pkl")

In [5]:
pd.to_pickle(new, "./valid_2016.pkl")

In [8]:
pickle.dump(new,open('./valid_2016.pkl', 'wb'), protocol=2)