In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
os.chdir("C:\\Users\\ahmed\\Desktop")
df_original = pd.read_pickle('df_activities_dublin_2016.pkl')
#df = df_original[df_original.totaldistance < 1000*(10+2)]
#df = df[df.totaldistance > 1000*(10-2)]
#df = df[df.country_code == 'is']

df_original

,hashedathleteid,startdate,startdatelocal,totaldistance,elevgain,hashedid,startlatapprox,startlngapprox,partitionid,time_final,...,heartrate,temperature,pace_diff,pace_cumul,gap,cumulative_elev_gain,cumulative_elev_loss,year,sex,weight
0,27f510195a08423b00bb2bc407747dd4aa3b46082f9e90...,2016-08-08 18:41:25,2016-08-08 19:41:25,1826.9,0.00,749d2b269795ac7fdca2ebc1789aeca64996d400d7d348...,52.84,-6.92,2261,NaN,...,[],[],"[0.0, 5.57067784310052, 3.46345084608983, 4.16...","[25.0, 7.41036604501394, 6.40038814319141, 5.5...","[0.0, 5.50806345346356, 3.51929561667581, 4.38...",7.0,11.0,1973.0,M,74
1,27f510195a08423b00bb2bc407747dd4aa3b46082f9e90...,2016-10-12 19:25:22,2016-10-12 20:25:22,1522.7,0.00,ad78674268e13c5a74f5be10d7fcb0bc5b96720c134cb8...,52.84,-6.92,2818,NaN,...,[],[],"[0.0, 4.55734054973754, 4.1495062025422, 3.764...","[25.0, 4.81237184752064, 4.49117399775104, 4.2...","[0.0, 4.45172209314814, 4.44863216687151, 3.78...",7.0,8.0,1973.0,M,74
2,27f510195a08423b00bb2bc407747dd4aa3b46082f9e90...,2016-09-11 10:33:25,2016-09-11 11:33:25,1163.9,0.00,99019615b2db72da61e779248184e71a37028b95386e4e...,52.87,-6.86,51,NaN,...,[],[],"[0.0, 6.04598841853532, 6.01849454453711, 6.06...","[25.0, 6.49233441711015, 6.25928076622876, 6.0...","[0.0, 5.51379519675492, 6.20094729934718, 5.81...",6.0,5.0,1973.0,M,74
3,18a90bb1bc980b17a91ff1d17c0763a77572181959acb7...,2016-08-08 18:44:24,2016-08-08 19:44:24,8759.7,47.00,a1fd0f76d9e109c7cf9e0dcb6b618595d98a51ec6593d9...,53.42,-6.23,2262,NaN,...,[],[],"[0.0, 5.15145990538387, 5.67860484098776, 5.80...","[25.0, 4.67139410325811, 5.16922832267112, 5.3...","[0.0, 5.8902502512488, 5.4331637018403, 4.9090...",48.0,38.0,1985.0,M,68
4,18a90bb1bc980b17a91ff1d17c0763a77572181959acb7...,2016-10-21 10:28:25,2016-10-21 11:28:25,9060.1,113.00,7197c7470fbcea27cac470d3a0e586ac406fcebd26b842...,54.07,-6.38,3972,NaN,...,"[57.0, 56.9339718231654, 74.0, 130.0, 142.1728...",[],"[0.0, 1.2800809411565, 2.50722493262599, 5.843...","[25.0, 1.64418777551541, 2.00347974705844, 2.7...","[0.0, 3.11776514258707, 1.32672617225134, 4.75...",37.0,53.0,1985.0,M,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102843,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-11-21 18:31:45,2016-11-21 18:31:45,5039.9,0.00,da13500d2088c615cd5ad0b19e9d0936c3fc51abc32ef4...,54.01,-6.38,1561,NaN,...,[],[],"[0.0, 3.65080571929456, 5.27952307405511, 4.32...","[25.0, 4.10307576399511, 4.16147460316753, 4.2...","[0.0, 3.4017588111579, 5.27952307405511, 4.282...",24.0,24.0,1977.0,M,0
102844,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-09-21 19:38:14,2016-09-21 20:38:14,6079.6,40.04,024429aa1a8d39593ee39fb493d32f2a74c47b7cde1ec0...,54.01,-6.41,1655,NaN,...,[],[],"[0.0, 3.8252333735362, 4.00903622198699, 4.502...","[25.0, 4.29901170298457, 4.30240545444174, 4.3...","[0.0, 3.87588697421383, 3.99902925838916, 4.45...",30.0,30.0,1977.0,M,0
102845,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-08-15 18:24:19,2016-08-15 19:24:19,11063.3,10.46,8a081e55c47cc436c0e5dd7b64d306b79caad9a9f57698...,53.99,-6.39,861,NaN,...,[],[],"[0.0, 7.15227482349973, 5.29217894069429, 5.22...","[25.0, 6.5267792737753, 6.12917075685545, 5.92...","[0.0, 6.97548943722043, 4.84158922259597, 4.80...",57.0,52.0,1977.0,M,0
102846,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-11-18 09:41:18,2016-11-18 09:41:18,6686.2,0.00,ba3cea2ab4c0e4a0c658d076fe63ebe59a1c3c0351c594...,53.93,-6.46,53,NaN,...,[],[],"[0.0, 4.84374239122173, 5.30045001575982, 5.00...","[25.0, 4.51471975495617, 4.80278396908467, 4.7...","[0.0, 5.21057324942786, 5.78916863931682, 4.93...",34.0,32.0,1977.0,M,0
102847,f1424f96fbb069924b7bc3a27d741dffa9e9fb7015127c...,2016-08-25 19:24:17,2016-08-25 20:24:17,10016.4,35.70,6cd3fc44a62bddc1e7edba95e2d5a4617c2a8b9cc137ee...,53.96,-6.38,1939,NaN,...,[],[],"[0.0, 5.09847548987208, 6.51714733515286, 5.32...","[25.0, 5.99188165829352, 5.8029799538043, 5.90...","[0.0, 4.84704963543505, 6.43102717501653, 6.18...",53.0,46.0,1977.0,M,0

In [4]:
df_original.dropna(subset = ["time_final"], inplace=True)

In [5]:
df_original.columns
df_original.count()

hashedathleteid         2165
startdate               2165
startdatelocal          2165
totaldistance           2165
elevgain                2165
hashedid                2165
startlatapprox          2165
startlngapprox          2165
partitionid             2165
time_final              2165
distance_final          2165
number_samples          2165
race_id                 2165
activity_id                0
distance                2165
time                    2165
elevation               2165
cadence                 2165
heartrate               2165
temperature             2165
pace_diff               2165
pace_cumul              2165
gap                     2165
cumulative_elev_gain    2165
cumulative_elev_loss    2165
year                    1567
sex                     2065
weight                  2165
dtype: int64

In [6]:
sampledf = df_original.sample(n = 5)
sampledf

,hashedathleteid,startdate,startdatelocal,totaldistance,elevgain,hashedid,startlatapprox,startlngapprox,partitionid,time_final,...,heartrate,temperature,pace_diff,pace_cumul,gap,cumulative_elev_gain,cumulative_elev_loss,year,sex,weight
88010,86df6cc5eecda0b231da67254427deb70231d670f5579e...,2016-10-30 09:00:25,2016-10-30 09:00:25,42278.5,194.000,61e5a8e6019292452dccb7b204f5f1e2defaa25d062dd4...,53.33,-6.25,3044,11758.0,...,"[126.0, 148.295951453835, 152.836180511752, 15...",[],"[0.0, 5.41560999848704, 4.95070447169925, 5.45...","[25.0, 5.26499303598473, 5.19642051743018, 5.4...","[0.0, 5.47455718802543, 5.0045913126873, 5.563...",223.0,195.0,1983.0,M,85
18971,5d5f2b9efd7e8522f9c46486d589314b7ac1400bfb7e42...,2016-10-30 09:21:05,2016-10-30 09:21:05,42583.3,173.480,f6f66a96737a80984b7f2f2d52f10b717b06987ea335c5...,53.33,-6.25,126,16742.0,...,"[109.0, 145.056892760567, 147.629802965296, 14...",[],"[0.0, 6.27938809973976, 7.07204000457037, 8.03...","[25.0, 6.19961979253678, 6.52470661750372, 6.6...","[0.0, 6.14463166932224, 7.07204000457037, 8.32...",229.0,195.0,NaN,M,93
88956,d3b6211bb49ffaf522fa0745ccec47cfc6e42c5d629c66...,2016-10-30 09:22:06,2016-10-30 09:22:06,42339.4,194.726,db3d723df36b591fd2bafb2d836012a014e6a45bbdb6e7...,53.33,-6.25,2725,14290.0,...,"[116.0, 140.12922572644, 156.981027340563, 155...",[],"[0.0, 7.76166575717556, 6.77840278703323, 6.63...","[25.0, 6.1881687547928, 7.00830339194638, 6.69...","[0.0, 7.931426369052, 6.63293744088738, 6.3540...",208.0,211.0,NaN,M,0
40670,b2b1ebaa231ee1a16ea09344370620b4c3c7e4ebac41db...,2016-10-30 09:00:15,2016-10-30 09:00:15,42458.8,207.000,330696006ffd7f1e9cf83a795d0cc6083a869b045e0731...,53.33,-6.25,122,11309.0,...,[],"[21.0, 21.0, 21.0, 21.0, 21.0, 20.0, 20.0, 20....","[0.0, 4.6143673475857, 4.13410515146164, 3.443...","[25.0, 4.6093488449146, 4.565977347009, 4.4813...","[0.0, 4.79393815406866, 4.14741779647552, 3.46...",222.0,200.0,1985.0,M,69
84905,b78cb0462d44ba622648047dcbc36d74c484e3a4601839...,2016-10-30 09:11:54,2016-10-30 09:11:54,42559.8,174.400,33ce8d4a56bd353c1562622e80cbbf852fc54edc5d6167...,53.33,-6.25,3013,14376.0,...,"[133.0, 128.999125033576, 131.298170728112, 13...",[],"[0.0, 5.70732890644412, 5.74122329782328, 7.20...","[25.0, 5.87409767999134, 5.90297130596807, 5.8...","[0.0, 5.55469446463263, 5.77229654218436, 7.43...",227.0,196.0,1972.0,M,61

In [7]:
sampledf.iloc[0]['hashedathleteid']

'86df6cc5eecda0b231da67254427deb70231d670f5579e51b8edf62e35b65ba0'

In [8]:
df_original.loc[df_original['hashedathleteid'] == 'a3d1f317092105f1959aa630cde6261b73934ad2c315fc8473ce535036b64951'].cumulative_elev_gain.item()

233.0

In [9]:
print(df_original.head(1).weight)

13    74
Name: weight, dtype: int64

In [10]:
#STEP 1
#Say the user specifies the time they want as 03 hours 27 mins 00 seconds
hours = 3
mins = 27
seconds = 0
time_wanted = (hours*60*60) + (mins*60) + seconds
#We will take anything within the 5 secs range
df = df_original[df_original.time_final < (time_wanted + 5)]
df = df[df.time_final > (time_wanted - 5)]
df
#df_original.loc[df_original['time_final'] == 14473.0].hashedathleteid

,hashedathleteid,startdate,startdatelocal,totaldistance,elevgain,hashedid,startlatapprox,startlngapprox,partitionid,time_final,...,heartrate,temperature,pace_diff,pace_cumul,gap,cumulative_elev_gain,cumulative_elev_loss,year,sex,weight
3485,2142b460895068fb2eeec94cb6dc1d8596ff0791666312...,2016-10-30 09:00:02,2016-10-30 09:00:02,42612.1,211.0,ba55d7f114a836cf2e7414f8fdf49514de6b415d6992ff...,53.33,-6.25,121,12423.0,...,[],"[20.0, 20.0, 20.0, 20.0, 19.0, 19.0, 19.0, 19....","[0.0, 4.11250972701362, 4.02154418894723, 4.58...","[25.0, 3.95584771700092, 4.22590645111473, 4.3...","[0.0, 4.15727308523632, 4.06531741626771, 4.65...",217.0,206.0,1980.0,M,73
55930,9b3214043a21a7e7b050e5d2e27b8fad9d45bdba57c1ea...,2016-10-30 09:02:24,2016-10-30 09:02:24,42592.8,175.2,a81a5fd3da4469508350e6f0299e678d4418fb074fa4ed...,53.33,-6.25,2737,12416.0,...,"[134.0, 140.081497488837, 141.0, 140.161134795...",[],"[0.0, 6.63382176179051, 4.83392686554866, 6.96...","[25.0, 5.39690845542814, 5.42819401136621, 5.4...","[0.0, 6.45629865157129, 4.86017274755889, 7.27...",232.0,192.0,1979.0,M,79
85676,ed0d90b0d886a7ba6f2261de2b4a69ce23b25279cc0d97...,2016-10-30 09:01:06,2016-10-30 09:01:06,42524.5,244.0,fadbcc4736c46c001bfcb3c47c1f74cb5ac38bd02beb3f...,53.33,-6.25,126,12416.0,...,[],"[22.0, 22.0, 22.0, 21.0, 21.0, 21.0, 20.0, 20....","[0.0, 6.25291839054975, 5.5593557783186, 3.904...","[25.0, 6.4416158229266, 6.11926231468526, 5.88...","[0.0, 6.25291839054975, 5.5593557783186, 3.904...",181.0,177.0,1972.0,M,75
87727,f3d4aa1b1c285ad53a8ee51b415da741ae9605fd81d966...,2016-10-30 09:30:05,2016-10-30 09:30:05,42523.7,198.0,98d0d5c46677e40cbe849458653d2f022d38dc6b6a6f94...,53.33,-6.25,1788,12416.0,...,[],[],"[0.0, 4.68300904024919, 4.27611047953751, 4.22...","[25.0, 5.18066631381596, 4.85490615844835, 4.6...","[0.0, 4.9283177393878, 4.30254542207827, 4.276...",217.0,205.0,1977.0,M,71